<footer class="pb-0 mb-0 text-light bg-dark col-12">
    <div class="row align-items-center">
        <div class="col-xl-6 col-sm-12">
            <img src="./images/negatiu-blanc-tallat.png" alt="logo">
        </div>
        <div class="my-md-0 mt-5 order-sm-1 order-3 align-self-end col-xl-6 col-sm-12">
            <p class="social text-muted my-1 pb-3 bold-text align-items-center">
                <span class="mx-2" onclick="location.href='https://www.facebook.com/campetestudis';"><i
                        class="fab fa-facebook" aria-hidden="true"></i></span>
                <span class="mx-2" onclick="location.href='https://www.instagram.com/estudiscampet/';"><i
                        class="fa fa-instagram" aria-hidden="true"></i></span>
                <span class="mx-2" onclick="location.href='https://wa.me/34699797535'"><i class="fab fa-whatsapp"
                        aria-hidden="true"></i></i></span>
                <span class="mx-2"><i class="fas fa-envelope" onclick="location.href='mailto:info@estudiscampet.com';"
                        aria-hidden="true"></i></span>

            </p>
        </div>
    </div>
</footer>

<!-- Cookie Consent by https://www.FreePrivacyPolicy.com -->
<script type="text/javascript" src="//www.freeprivacypolicy.com/public/cookie-consent/4.0.0/cookie-consent.js" charset="UTF-8"></script>
<script type="text/javascript" charset="UTF-8">
document.addEventListener('DOMContentLoaded', function () {
cookieconsent.run({"notice_banner_type":"headline","consent_type":"express","palette":"dark","language":"ca_es","page_load_consent_levels":["strictly-necessary"],"notice_banner_reject_button_hide":false,"preferences_center_close_button_hide":false});
});
</script>

<noscript>Cookie Consent by <a href="https://www.FreePrivacyPolicy.com/free-cookie-consent/" rel="nofollow noopener">FreePrivacyPolicy.com</a></noscript>
<!-- End Cookie Consent -->