<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html"><img src="./images/negatiu-blanc-tallat.png" alt="logo"></a>
        <button class="navbar-toggler d-md-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item hide cat">
                    <a class="nav-link" href="index.html">Inici</a>
                </li>
                <li class="nav-item hide es" style="display: none">
                    <a class="nav-link" href="index.html">Inicio</a>
                </li>
                <li class="nav-item dropdown  cat">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Producció</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="gravacio.html">Gravació</a>
                        <a class="dropdown-item" href="mescla.html">Mescla</a>
                        <a class="dropdown-item" href="preproduccio.html">Preproducció</a>
                        <a class="dropdown-item" href="online.html">Serveis online</a>
                    </div>
                </li>
                <li class="nav-item dropdown es" style="display: none">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Producción</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="gravacio.html">Grabación</a>
                        <a class="dropdown-item" href="mescla.html">Mezcla</a>
                        <a class="dropdown-item" href="preproduccio.html">Preproducción</a>
                        <a class="dropdown-item" href="online.html">Servicios online</a>
                    </div>
                </li>
                <li class="nav-item cat">
                    <a class="nav-link" href="instalacions.html">Instal·lacions</a>
                </li>
                <li class="nav-item es" style="display: none">
                    <a class="nav-link" href="instalacions.html">Instalaciones</a>
                </li>
                <li class="nav-item cat">
                    <a class="nav-link" href="equipament.html">Equipament</a>
                </li>
                <li class="nav-item es" style="display: none">
                    <a class="nav-link" href="equipament.html">Equipamiento</a>
                </li>
                <li class="nav-item dropdown cat">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Qui som?</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="about.html">Sobre nosaltres</a>
                        <a class="dropdown-item" href="contacte.html">Contacta</a>
                    </div>
                </li>
                <li class="nav-item dropdown es" style="display: none">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">¿Quiénes somos?</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="about.html">Sobre nosotros</a>
                        <a class="dropdown-item" href="contacte.html">Contacta</a>
                    </div>
                </li>
                <li class="nav-item">
                    <input id="switchlanguage" type="checkbox" name="change-language" data-toggle="switch">
                </li>
            </ul>
            <li class="social mb-0 text-muted pb-0 hide row">
                <span class="nav-link" onclick="location.href='https://www.facebook.com/campetestudis';"><i
                        class="fab fa-facebook" aria-hidden="true"></i></span>
                <span class="nav-link" onclick="location.href='https://www.instagram.com/estudiscampet/';"><i
                        class="fa fa-instagram" aria-hidden="true"></i></span>
                <span class="nav-link" onclick="location.href='https://wa.me/34699797535'"><i class="fab fa-whatsapp"
                        aria-hidden="true"></i></i></span>
                <span class="nav-link"><i class="fas fa-envelope"
                        onclick="location.href='mailto:info@estudiscampet.com';" aria-hidden="true"></i></span>
            </li>
        </div>
    </nav>
</header>

<script type="text/plain" cookie-consent="functionality">

    $("#switchlanguage").bootstrapSwitch({
        onText: '<img style="height: 25px; width: 25px" src="../images/esp.ico">',
        offText: '<img style="height: 25px; width: 25px" src="../images/cat.ico">',
        labelText: 'Idioma',
        onColor: 'default',
        offColor: 'default',
        onSwitchChange: function () {
            if ($("#switchlanguage").bootstrapSwitch('state')) {
                $(".es").show()
                $(".cat").hide()
                sessionStorage.setItem('lang', 'esp')
            } else {
                $(".cat").show()
                $(".es").hide()
                sessionStorage.setItem('lang', 'cat')
            }
        },
    });
    var switchstate = $("#switchlanguage").bootstrapSwitch('state');
    var lang = sessionStorage.getItem('lang');
    if (lang === 'esp' && !switchstate){
        $("#switchlanguage").bootstrapSwitch('state', true);
    }
    
</script>