@import url("https://p.typekit.net/p.css?s=1&k=oov2wcw&ht=tk&f=39203&a=2613646&app=typekit&e=css");

@font-face {
  font-family: "century-gothic";
  src: url("https://use.typekit.net/af/afc5c6/00000000000000003b9b1f23/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/afc5c6/00000000000000003b9b1f23/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/afc5c6/00000000000000003b9b1f23/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}

.tk-century-gothic {
  font-family: "century-gothic", sans-serif;
}

.main {
  background: url("/images/LOGOS-DIFERENTS-MIDES/PER-WEB-XARXES-SOCIALS/1600X1200px/positiu-negre-verd.png")
    no-repeat;
  background-position: 50% 75%;
  background-size: cover;
}
body {
  font-family: "century-gothic", CenturyGothic, AppleGothic, sans-serif;
  overflow-x: hidden;
  background-color: lightgray;
  color: white;
  height: 100%;
  width: 100%;
  text-align: justify;
}

a {
  text-decoration: none;
}

.nav-link:hover,
.dropdown-item:hover {
  color: #108a3a !important;
}

.circle {
  border-radius: 100%;
  background: rgb(228, 225, 225);
  border: black solid;
  color: black;
  display: none;
  height: 120px;
  width: 120px;
  margin: 2em;
  transition: transform 0.7s;
  box-shadow: 10px -6px #108a3a;
}

.circle:hover {
  border-radius: 100%;
  transform: scale(0.9);
  cursor: pointer;
  box-shadow: 5px -3px #108a3a;
}

.carousel {
  margin: 2em;
  width: 100%;
}

.circle p {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 24px;
}

.circle p i {
  font-size: 4em;
  margin: auto;
}

#circlemenu {
  position: relative;
  top: 60vh;
  left: 5vh;
}

.jumbotron {
  color: black;
  width: 75%;
  margin: auto;
  margin-top: 5em;
  margin-bottom: 5em;
}

.jumbotron h3,
.card-title,
.card-body h6 {
  color: #108a3a;
  font-weight: bold;
}

.jumbotron p::first-letter {
  font-weight: 900 !important;
  font-size: 150% !important;
}

.equipament {
  margin-bottom: 0;
}

#cards {
  width: 100%;
  margin: auto;
  padding: 3em;
}

.card {
  color: black;
  /* height: 800px; */
}

.card ul {
  list-style-type: none;
}

.main footer {
  position: absolute;
  bottom: 0;
  /* height: 100px; */
  width: 100%;
}

footer span {
  cursor: pointer;
  font-size: 2.5em;
  transition: transform 1s;
}

header span {
  cursor: pointer;
  font-size: 2em;
  transition: transform 0.5s;
}

footer span:hover,
header span:hover {
  /* color: rgba(255,255,255,.75); */
  color: #108a3a;
  transform: scale(1.1);
}

.carousel-item {
  /* width: 100%; /*width you want*/
  /* height: 600px; height you want */
  overflow: hidden;
}
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer .social {
  position: absolute;
  text-align: left;
  bottom: 0vh;
  left: 60%;
}
.nav-brand img {
  max-width: 100%;
  height: auto;
  width: auto;
}

@media only screen and (max-width: 1199px) and (orientation: portrait) {
  footer .social {
    font-size: 0.7rem;
    left: 80%;
  }

  header .social .nav-link{
    padding: 0.5rem;
  }
  .navbar-brand{
    width: 25%;
  }
  .navbar-brand img{
    width: 100%;
  }

  header .social {
    font-size: 0.8rem;
  }
 
  .main {
    font-size: 0.9rem;
    background: url("/images/LOGOS-DIFERENTS-MIDES/PER-WEB-XARXES-SOCIALS/800x600px/positiu-verd-i-negre.png")
      no-repeat;
    background-position: 50% 0%;
    /* background-size: cover; */
  }
  .circle {
    height: 100px;
    width: 100px;
    margin: 1em;
  }
  .circle p {
    margin-top: 16px;
  }
  #circlemenu {
    left: 10vh;
    top: 50vh;
  }
}

@media only screen and (max-width: 991px) and (orientation: portrait) {
  .circle {
    margin: 0.5em;
  }
  #circlemenu {
    left: 0vh;
  }
  .carousel-item {
    width: 100%; /*width you want*/
    /* height: 100%; height you want */
    overflow: hidden;
  }
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  footer .social {
    font-size: 0.5rem;
    /* left: 80%; */
  }

  .hide {
    display: none;
  }
}

@media only screen and (max-width: 769px) and (orientation: portrait) {
  .main {
    font-size: 0.6rem;
    background: url("/images/LOGOS-DIFERENTS-MIDES/positiu-negre-verd-600px.png")
      no-repeat;
    background-position: 50% 0%;
    /* background-size: cover; */
  }
  .circle {
    height: 75px;
    width: 75px;
    margin: 0.3em;
  }
  #circlemenu {
    top: 40vh;
  }
  #cards {
    padding: 0em;
  }
  .jumbotron{
    font-size: 40%;
    width: 90% !important;
  }
  .jumbotron p::first-letter {
    font-weight: 900 !important;
    font-size: 110% !important;
  }

}

@media only screen and (max-width: 600px) and (orientation: portrait) {
  .main {
    font-size: 0.5rem;
    background: url("/images/LOGOS-DIFERENTS-MIDES/positiu-negre-verd-400px.png")
      no-repeat;
    background-position: 50% 0%;
    /* background-size: cover; */
  }
  .circle {
    height: 70px;
    width: 70px;
    margin: 0.1em;
  }
  #circlemenu {
    left: 0vh;
    top: 33vh;
  }
  footer img {
    margin-left: 18%;
  }
  /* .jumbotron{
    font-size: 50%;
    width: 90%;
  }
  .jumbotron p::first-letter {
    font-weight: 900 !important;
    font-size: 100% !important;
  } */
}
@media only screen and (max-width: 500px) and (orientation: portrait) {
  .main {
    font-size: 0.35rem;
    background: url("/images/LOGOS-DIFERENTS-MIDES/positiu-negre-verd-280px.png")
      no-repeat;
    background-position: 50% 0%;
    /* background-size: cover; */
  }
  .circle {
    height: 45px;
    width: 45px;
    margin: 0.7em;
    box-shadow: 3px -3px #108a3a;
  }

  .circle p {
    margin-top: 11px;
  }
  #circlemenu {
    top: 25vh;
  }
  footer img {
    position: relative;
    bottom: -32px;
    width: 50%;
    margin-left: 0%;
  }

  .social {
    position: relative;
    left: 185px;
    bottom: 50px;
  }
  /* .jumbotron{
    font-size: 40%;
    width: 90%;
  }
  .jumbotron p::first-letter {
    font-weight: 900 !important;
    font-size: 80% !important;
  } */
}

/* formulario de contacto */
#fcf-form {
  display:block;
}

.fcf-body {
  margin: 0;
  font-family: -apple-system, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  padding: 30px;
  padding-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  max-width: 100%;
}

.fcf-form-group {
  margin-bottom: 1rem;
}

.fcf-input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.fcf-form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  outline: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
  border: 1px solid #313131;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
  height: auto;
}

textarea.fcf-form-control {
  font-family: -apple-system, Arial, sans-serif;
  height: auto;
}

label.fcf-label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.fcf-credit {
  padding-top: 10px;
  font-size: 0.9rem;
  color: #545b62;
}

.fcf-credit a {
  color: #545b62;
  text-decoration: underline;
}

.fcf-credit a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.fcf-btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .fcf-btn {
      transition: none;
  }
}

.fcf-btn:hover {
  color: #212529;
  text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.fcf-btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.fcf-btn-block {
  display: block;
  width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
  margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
  width: 100%;
}

@media only screen and (max-width: 1199px) and (orientation: landscape) {
  .main {
    font-size: 0.9rem;
    background: url("/images/LOGOS-DIFERENTS-MIDES/positiu-negre-verd-600px.png")
      no-repeat;
    background-position: 50% 0%;
    /* background-size: cover; */
  }
  .navbar-brand{
    width: 25%;
  }
  .navbar-brand img{
    width: 100%;
  }

  .circle {
    height: 100px;
    width: 100px;
    margin: 1em;
  }
  .circle p {
    margin-top: 16px;
  }
  #circlemenu {
    left: 15vh;
    top: 50vh;
  }
  header .social {
    font-size: 0.8rem;
  }

  footer .social {
    font-size: 0.7rem;
    left: 80%;
  }
}

@media only screen and (max-width: 991px) and (orientation: landscape) {
  .circle {
    margin: 0.5em;
  }
  #circlemenu {
    left: 1vh;
  }
  .hide {
    display: none;
  }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
  .main {
    font-size: 0.6rem;
    background: url("/images/LOGOS-DIFERENTS-MIDES/positiu-negre-verd-600px.png")
      no-repeat;
    background-position: 50% 0%;
    /* background-size: cover; */
  }
  .circle {
    height: 75px;
    width: 75px;
    margin: 0.3em;
  }
  #circlemenu {
    top: 55vh;
  }
}

@media only screen and (max-width: 575px) and (orientation: landscape) {
  .main {
    font-size: 0.5rem;
    background: url("/images/LOGOS-DIFERENTS-MIDES/positiu-negre-verd-400px.png")
      no-repeat;
    background-position: 50% 0%;
    /* background-size: cover; */
  }
  .circle {
    height: 70px;
    width: 70px;
    margin: 0.1em;
  }
  #circlemenu {
    left: 0vh;
    top: 33vh;
  }
  footer img {
    margin-left: 18%;
  }
}
