body {
    background-color:#343a40;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    border-radius: 100%;
    border: white solid;
    background: #343a40;
    border: black;
    color: black;
    height: 150px;
    width: 150px;
    transition: transform 1s;
}
.logo:hover{
    transform: scale(1.2);
}

.circle {
    /* display: flex; */
    border-radius: 100%;
    background: black;
    /* background: #108a3a; */
    border: white solid;
    color: #108a3a;
    display: inline-block;
    height: 150px;
    width: 150px;
    justify-content: center;
    align-content: center;
}

.circle:hover {
    border-radius: 100%;
    background: white;
    border: black;
    color: #108a3a;
    /* color: black; */
    text-decoration: solid;
}

.circle p {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 33px;
}

.circle p i {
    font-size: 5em;
    margin: auto;
}

#circlemenu {
    position: relative;
    top: 200px;
    left: 200px;
    /*for example purposes only*/
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#circlemenu li {
    position: absolute;
    /* -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    transition: all 1s linear; */
}